@charset "UTF-8";
@import "mixin";

.pull-left {
  @include float-left;
}

.pull-right {
  @include float-right;
}

.align-center {
  @include align;
}

.align-left {
  @include align-left;
}

.align-right {
  @include align-right;
}

input[type="checkbox"]{
  @include checkbox(18px, $accent);
  &.small{
    @include checkbox(14px, $accent);
  }
  &:disabled:before,&.small:disabled:before{
    border-color: $gray-light;
  }
}

input[type="radio"]{
  @include radio(16px, $accent);
  &.small{
    @include radio(13px, $accent);
  }
  &:disabled{
    border-color: $gray-light;
  }
}

.bold {
  font-weight: bold;
}

.normal{
  font-weight: normal !important;
}

.fs-xs{
  font-size: 12px;
}

.fs-sm{
	font-size: 14px;
}

.fs-md{
	font-size: 16px;
}

.fs-lg{
	font-size: 20px;
}

.black{
	color: $black;
}

.white{
	color: $white;
}

.gray{
  color: $gray;
}

.gray-light{
  color: $gray-light;
}

.gray-dark{
	color: $gray-dark;
}

.blue{
  color: $blue;
}

html, body{
  height: 100%;
}

body, button, input, select, textarea{
  font-family: 'Open Sans', Tahoma, Arial, 'Hiragino Sans GB', "Microsoft YaHei", "微软雅黑", sans-serif;
}

a, a:hover, a:active, a:focus{
  outline: none;
  text-decoration: none;
}

a.blue{
  color: $blue !important;
}

i{
  font-size: 20px;
}

.row{
  -webkit-flex-flow: row wrap;
}

p.text-indent{
  text-indent: 2em;
}

i.bank-icon{
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: auto 5px;
  vertical-align: middle;
  &.ccb{
    background: url(../images/bank/bank_icon_ccb_jianshe.png) no-repeat;
    background-size: contain;
  }
  &.cmb{
    background: url(../images/bank/bank_icon_cmb_zhaoshang.png) no-repeat;
    background-size: contain;
  }
  &.pingan{
    background: url(../images/bank/bank_icon_pingan.jpg) no-repeat;
    background-size: contain;
  }

}