@charset "UTF-8";
@import "overwrite";

.pull-left {
  @include float-left;
}

.pull-right {
  @include float-right;
}

input[type="checkbox"]{
  @include checkbox(18px, $energized);
  &.small{
    @include checkbox(14px, $energized);
  }
  &:disabled:before,&.small:disabled:before{
    border-color: $gray-light;
  }
}

input[type="radio"]{
  @include radio(16px, $energized);
  &.small{
    @include radio(13px, $energized);
  }
  &:disabled{
    border-color: $gray-light;
  }
}

.init-line-height{
  line-height: initial;
}

.dbl-line-height{
  line-height: 2;
}

.full-height{
  height: 100%;
}

.inline-block{
  display: inline-block;
}

.hidden{
  display: none !important;
}

.bold {
  font-weight: bold;
}

.normal{
  font-weight: normal !important;
}

.fw-xs{
  font-weight: 200;
}

.fs-xs{
  font-size: 12px;
}

.fs-sm{
	font-size: 14px;
}

.fs-md{
	font-size: 16px;
}

.fs-lg{
	font-size: 20px;
}

.fs-xl{
  font-size: 56px;
}

.fs-18{
  font-size: 18px;
}

.fs-36{
  font-size: 36px;
}

.transparent{
  color: transparent !important;
}

.black{
	color: $black;
}

.white{
	color: $white;
}

.gray{
  color: $gray;
}

.gray-light{
  color: $gray-light;
}

.gray-dark{
	color: $gray-dark;
}

.transparent-bg{
  background: transparent;
}

.white-bg{
  background: $white;
}

.whitesmoke-bg{
  background: whitesmoke;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.margin{
  margin: $content-padding;
}

.margin-top,
.margin-vertical{
  margin-top: $content-padding;
}

.margin-bottom,
.margin-vertical{
  margin-bottom: $content-padding;
}

.margin-left,
.margin-horizontal{
  margin-left: $content-padding;
}

.margin-right,
.margin-horizontal{
  margin-right: $content-padding;
}

.dbl-margin-top,
.dbl-margin-vertical{
  margin-top: $content-padding*2;
}

.dbl-margin-bottom,
.dbl-margin-vertical{
  margin-bottom: $content-padding*2;
}

.dbl-margin-left,
.dbl-margin-horizontal{
  margin-left: $content-padding*2;
}

.dbl-margin-right,
.dbl-margin-horizontal{
  margin-right: $content-padding*2;
}

.dbl-margin{
  margin: $content-padding*2;
}


/**
 * Content Padding
 * --------------------------------------------------
 */

.dbl-padding {
  padding: $content-padding*2;
}

.dbl-padding-top,
.dbl-padding-vertical {
  padding-top: $content-padding*2;
}

.dbl-padding-right,
.dbl-padding-horizontal {
  padding-right: $content-padding*2;
}

.dbl-padding-bottom,
.dbl-padding-vertical {
  padding-bottom: $content-padding*2;
}

.dbl-padding-left,
.dbl-padding-horizontal {
  padding-left: $content-padding*2;
}

.no-border{
  border: 0 !important;
}

.border-top{
  border-top: solid 1px $border-color;
}

.border-bottom{
  border-bottom: solid 1px $border-color;
}

.border-right{
  border-right: solid 1px $border-color;
}

.border-energized{
  border: solid 1px $energized*1.25;
}

.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
}

html, body{
  height: 100%;
}

body, button, input, select, textarea{
  font-family: 'Open Sans', Tahoma, Arial, 'Hiragino Sans GB', "Microsoft YaHei", "微软雅黑", sans-serif;
}

a, a:hover, a:active, a:focus{
  outline: none;
  text-decoration: none;
}

a.blue{
  // color: $blue !important;
}

i{
  font-size: 20px;
}

.row{
  -webkit-flex-flow: row wrap;
}

p.text-indent{
  text-indent: 2em;
}

i.bank-icon{
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: auto 5px;
  vertical-align: middle;
  &.icbc{
    background: url(../images/bank/bank_icon_icbc.png) no-repeat center;
    background-size: contain;
  }
  &.ccb{
    background: url(../images/bank/bank_icon_ccb_jianshe.png) no-repeat center;
    background-size: contain;
  }
  &.cmb{
    background: url(../images/bank/bank_icon_cmb_zhaoshang.png) no-repeat center;
    background-size: contain;
  }
  &.pingan{
    background: url(../images/bank/bank_icon_pingan.jpg) no-repeat center;
    background-size: contain;
  }
  &.abc{
    background: url(../images/bank/bank_icon_abc_nongye.png) no-repeat center;
    background-size: contain;
  }
  &.boc{
    background: url(../images/bank/bank_icon_boc_zhongguoyinhang.png) no-repeat center;
    background-size: contain;
  }
  &.ceb{
    background: url(../images/bank/bank_icon_ceb_guangda.png) no-repeat center;
    background-size: contain;
  }
  &.spdb{
    background: url(../images/bank/bank_icon_spdb.png) no-repeat center;
    background-size: contain;
  }
  &.gdb{
    background: url(../images/bank/bank_icon_gdb_guangfa.png) no-repeat center;
    background-size: contain;
  }


}

.dot{
  position: relative;
  &:before{
    content: '.';
    display: block;
    width: 6px;
    height: 6px;
    color: transparent;
    background: $energized;
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -3px;
  }
}

.relative{
  position: relative;
}

.relative .triangle-svg{
  $size: 12px;
  position: absolute;
  display: inline-block;
  width: $size;
  height: $size;
  right: 0;
  bottom: 0;
  img {
    display: block;
    width: 100%;
  }
}

ul.circle{
  list-style-type: circle;
  padding-left: 30px;
}
ul.square {
  list-style-type:square;
  padding-left: 30px;
}
ol.upper-roman {
  list-style-type:upper-roman;
  padding-left: 30px;
}
ol.lower-alpha {
  list-style-type:lower-alpha;
  padding-left: 30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


