$accent: 						#b28c41;
$button-default-bg: #a17817;
$white:							#fff;
$black:							#000;
$gray-dark: 				#6f7680;
$gray: 							#808080;
$gray-light: 				#ccc;
$blue:              #007aff;

$border-radius-size:  6px;


@mixin float ($side: left) {
  display: inline;
  float: unquote($side);
}

@mixin float-left {
  @include float(left);
}

@mixin float-right {
  @include float(right);
}

@mixin align ($side: center) {
  text-align: unquote($side);
}

@mixin align-left {
  @include align(left);
}

@mixin align-right {
  @include align(right);
}

@mixin checkbox($size: 20px, $color: red) {
  width: $size;
  height: $size;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  &, &:before, &:after{
  	box-sizing: content-box;
  }
  &:before{
    content: '';
    display: block;
    width: $size;
    height: $size;
    border: solid 1px $color;
    border-radius: $size/4;
    background: transparent;
  }
  &:after{
    content: '';
    position: absolute;
    top: $size/4;
    left: $size/5;
    display: none;
    width: $size*3/5;
    height: $size*3/10;
    border-left: solid 2px $color;
    border-bottom: solid 2px $color;
    transform: rotate(-45deg);
  }
  &:checked:after{
    display: block;
  }
}

@mixin radio($size: 20px, $color: red) {
  width: $size;
  height: $size;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
  border: solid 1px $color;
  box-sizing: border-box;
  border-radius: $size/2;
  &:checked{
    background: $color;
    box-shadow: inset 0 0 0 $size/10*3 $white;
  }
}



