@charset "UTF-8";
@import "mixin";

.col-60{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

// toaser
.toast-top-full-width{
  top: 50px;
  .platform-ios &{
    top: 70px;
  }
}

#toast-container > div{
  opacity: 1;
}

.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5); 
}

.spinner.spinner-accent{
  stroke: $accent;
  fill: $accent;
}

.button{
  color: #fff;
  background-color: $button-default-bg;
  border: 0;
  outline: none;
  border-radius: 6px;
  font-weight: bold;
  &:hover{
    color: #fff;
  }
  &.button-light{
    border: solid 1px $accent;
  }
  &.button-full{
  	min-height: 36px;
  	line-height: 36px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
  }
  &.disabled,&[disabled] {
    opacity: 1;
    background-color: $button-disabled-bg;
  }
}

.scroll{
  position: relative;
}

.bar.bar-dark{
  background: #272b30;
}

.bar .button.button-icon{
  font-size: 13px;
}

.bar-header .back-button{
  font-size: 13px !important;
  i{
    font-size: 13px;
    padding-left: 6px;
    padding-right: 2px;
    &:before{
      -webkit-transform: scale(2);
    }
  }
}

.card{
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
}

input::-webkit-input-placeholder{ 
	color: #111; 
}

.item.item-input, .item.item-input-inset{
  border: 0;
  border-bottom: solid 1px $accent;
  background: transparent;
  // padding-top: 11px;
  // padding-bottom: 0;
  &:before,&:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 6px;
    background: $accent;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
  &.white{
    border-bottom-color: $white;
    input, input::-webkit-input-placeholder{ 
      color: $white; 
    }
    &:before,&:after{
      background: $white;
    }
  }
}

.item.item-select{
  margin-top: 1px;
  &:after{
    margin-top: 0;
  }
  select{
    padding-right: 16px;
  }
}

.item.item-input-inset{
  .item-input-wrapper{
    background: transparent;
    padding-left: 0;
  }
}

.item-input input:disabled{
  opacity: .6;
  background-color: transparent;
}

// scroll refresher
.scroll-refresher{
  top: -80px;
  .ionic-refresher-content .text-pulling{
    font-size: 13px;
  } 
}

// slide pager
.slider-pager{
  top: 5px;
  .slider-pager-page{
    color: $white;
    width: auto;
    margin: 2px 1px;
    i:before{
      font-size: 12px;
      -webkit-transform-origin-x: 50%;
      -webkit-transform: scale(.6);
    }
    &.active i:before{
      -webkit-transform: scale(.8);
    }
  }
}

.action-sheet-group{
  overflow: scroll;
  max-height: 376px; // 8 items
}
.action-sheet{
  .button{
    font-size: 15px;
    font-weight: normal;
    border-top: solid 1px $gray-light;
    .platform-android &{
      font-size: 15px;
      text-align: center;
      border-color: $gray-light;
      color: $blue;
    }
  }
}


// alert
.alert{
  .popup{
    width: 80%;
    border-radius: 6px;
    background: $white;
    .popup-head{
      min-height: 130px;
      display: box;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      justify-content: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      .popup-title{
        font-size: 16px;
        font-weight: normal;
      }
    }
    .popup-buttons{
      padding: 0;
      min-height: 34px;
      .button{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

