@charset "UTF-8";
@import "mixin";

.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5); 
}

.accent{
  color: $accent;
}

.button{
  color: #fff;
  background-color: $button-default-bg;
  border: 0;
  outline: none;
  border-radius: 6px;
  font-weight: bold;
  &.button-light{
    border: solid 1px $accent;
  }
  &.button-full{
  	min-height: 36px;
  	line-height: 36px;
  }
}

.scroll{
  position: relative;
}

.bar.bar-dark{
  background: #272b30;
}

.card{
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
}

input::-webkit-input-placeholder{ 
	color: #111; 
}

.item.item-input, .item.item-input-inset{
  border: 0;
  border-bottom: solid 1px $accent;
  background: transparent;
  &:before,&:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 6px;
    background: $accent;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
  &.white{
    border-bottom-color: $gray;
    input, input::-webkit-input-placeholder{ 
      color: $white; 
    }
    &:before,&:after{
      background: $gray;
    }
  }
}

.item.item-input-inset{
  .item-input-wrapper{
    background: transparent;
    padding-left: 0;
  }
}