@media only screen 
and (min-device-width : 320px) 
and (max-device-height : 480px) { // iphone 4
	#house_card{
		margin-bottom: 140px;
	}
	#buy_card{
		margin-top: 0;
	}
	#preview_modal .card .item-image{
		height: 77%;
	}
}

@media only screen 
and (min-device-height : 640px) {
	.action-sheet-group{
	  max-height: 470px; // 10 items
	}
	#house_card .preview-img{
		height: 180px;
	}
}

@media only screen 
and (min-device-height : 736px) { // iphone 6 plus
	.action-sheet-group{
	  max-height: 564px; // 10 items
	}
	#house_card .preview-img{
		height: 200px;
	}
}
