// bower:scss
// endbower

@charset "UTF-8";
@import "mixin";
@import "base";
@import "overwrite";
@import "animation";

ion-view{
  background: url(../images/bg-2.jpg) no-repeat bottom center ;
  background-size: cover;
}

ion-content.padding{
  padding: 15px 6%;
}

.card{
  margin: 15px 6%;
}

.publicity{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: $white;
  z-index: -1;
  font-weight: bold;
  font-size: 13px;
  opacity: .5;
  img{
    vertical-align: middle;
    margin-right: 3px;
    width: 15px;
  }
}

#startup{
  .logo{
    margin: 20% 0;
    width: 100%;
    min-height: 20%;
    background: url(../images/landlord-logo-2.png) no-repeat;
    background-size: contain;
  }
  .ads{
    position: relative;
    width: 131px;
    height: 153px;
    margin: auto;
    background: url(../images/shield-lg.png) no-repeat;
    background-size: cover;
    .round-item{
      position: absolute;
      width: 80px;
      height: 80px;
      border: solid 2px $accent;
      border-radius: 40px;
      background: $white;
      color: $accent;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      padding: 15px;
      &:first-child{
        left: -50px;
        top: 0;
      }
      &:nth-child(2){
        right: -50px;
        top: 0;
      }
      &:last-child{
        bottom: -45px;
        left: 50%;
        margin-left: -40px;
      }
    }
  }
  .copyright{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    color: $white;
    font-size: 12px;
  }
}

#house_card{
  background: rgba(255,255,255,0.9);
  min-height: 355px;
  margin: 8%;
  .img-tip{
    position: absolute;
    width: 100%;
    bottom: 5px;
    line-height: 30px;
    background: rgba(255,255,255,.7);
  }
  .preview-img{
    width: 100%;
    height: 135px;
  }
  .cmd:before{
    content: '抢';
    font-size: 52px;
  }
  .name{
    margin: 4% auto 3%;
  }
  .predict{
    padding-top: .5em;
  }
  .percent{
    color: $accent-light;
    font-size: 40px;
    padding-top: 4%;
    .per{
      font-size: .6em;
    }
  }
  .progress-bar{
    width: 85%;
    height: 5px;
    background-color: #dcdcdc;
    border-radius: 10px;
    margin: 10px auto 0px;
    span{
      display: block;
      width: 60%;
      height: 100%;
      background-color: $accent-light;
      border-radius: 10px;
    }
    + .row{
      padding: 0 7%;
      margin-bottom: 50px;
      .col{
        padding: 0;
      }
    }
  }
}


#my_info .button{
  text-decoration: none;
  color: $white;
  font-size: 13px;
}

#pay{
  .item.item-input{
    &:before, &:after{
      width: 0;
      background: none;
    }
  }
  .tip{
    font-size: 13px;
  }
  .input-label{
    width: 20%;
    font-size: 14px;
    color: #000;
  }
  .item-input input{
    padding-left: 4px;
    padding-top: 5px;
  }
  .item-select select{
    max-width: 80%;
    width: 80%;
    direction: ltr;
  }
  input::-webkit-input-placeholder { color: #666; }
  .item-input.vcode{
    input{
      max-width: 35%;
      padding-right: 5px;
    }
    +.button{
      position: absolute;
      bottom: 8px;
      right: 10px;
      z-index: 1000;
    }
  }
  .submit{
    padding: 0 6%;
  }
  input.tos{
    top: 2px;
    margin-right: 2px;
  }
}

.arrow{
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 14px;
  border-color: transparent;
  border-style: solid;
  border-top-width: 0;
  border-bottom-color: #f6b33e;
  background: transparent;
}

$seize-size: 106px;
$seize-inner-size: 90px;
.seize-wrapper{
  position: absolute;
  left: 50%;
  margin-left: -$seize-size/2;
  bottom: -$seize-size/2 - 8;
  display: flex;
  align-items: center;
  width: $seize-size;
  height: $seize-size;
  border-radius: 73px;
  background-color: $white;
  text-align: center;
  // box-shadow: 0 0 6px 1px #999;
  border: solid 1px $accent-light;
  .seize{
    width: $seize-inner-size;
    height: $seize-inner-size;
    border-radius: $seize-inner-size/2;
    margin: auto;
    box-shadow: inset 0px -3px 0px 0 $accent;
    background-color: #f6b33e;
    font-size: 46px;
    line-height: $seize-inner-size;
    font-weight: bold;
    cursor: pointer;
    a img{
      vertical-align: middle;
      padding-bottom: 17px;
    }
    a, a:focus, a:hover{
      display: block;
      color: $white;
    }
    .countdown{
      position: absolute;
      width: 100%;
      bottom: 19%;
      left: 0;
      font-size: 12px;
      color: $white;
      line-height: 1;
      .odometer{
        width: 5px;
      }
    }
  }
  &.disabled{
    border-color: $gray;
    &:before{
      border-bottom-color: $gray;
    }
    .seize{
      background: $gray;
      font-size: 20px;
      box-shadow: none;
    }
  }
  &:before,&:after{
    @extend .arrow;
  }
  &:after{
    border-bottom-color: #fff;
    top: -11px
  }
}

.slider-slide img{
  border-radius: $border-radius-size;
}

#preview_modal{
  min-height: 60%;
  width: 88%;
  height: 74%;
  left: 6%;
  top: 13%;
  border-radius: $border-radius-size;
  background-color: $accent-light;
  .card{
    margin: 0;
    height: 100%;
    border: solid 3px $white;
    background-color: transparent;
    border-radius: $border-radius-size;
    .item-image{
      height: 80%;
      border-bottom: 0;
      background-color: transparent;
      .seize-button{
        position: absolute;
        right: 3%;
        bottom: 1%;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background: $accent-light;
        border: solid 2px $white;
        color: $white;
        font-weight: bold;
        box-shadow: 2px 2px 6px 1px #333;
        img{
          margin-top: 6px;
          height: 32px;
          width: auto;
        }
      }
    }
    .desc{
      display: -webkit-box;
      height: 78px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}

.card .slider{
  height: 100%;
}


#buy_card{
  color: $gray;
  .cal{
    font-size: 18px;
    color: #333;
    margin-top: 8px;
    .count{
      .button{
        width: 100%;
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        border-radius: 0;
        font-size: 14px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        display: block;
      }
      input{
        display: block;
        width: 100%;
        border-top: solid 1px $gray-light;
        border-bottom: solid 1px $gray-light;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: $accent;
        padding: 0 0 0 12px;
        border-radius: 0;
      }
    }
  }
  .limit-desc{
    padding: 8px 0 0;
    margin: auto 10px;
  }
  .pre-box{
    border: solid 1px $gray-light;
    margin: 0 6%;
    .title{
      height: 22px;
      line-height: 22px;
    }
    .content{
      font-size: 16px;
      padding: 4%;
    }
  }
  input[type="checkbox"].small{
    top: 1px;
    right: 3px;
    margin-left: 3px;
  }
  a.tos{
    color: $gray;
  }
  section.coupon-info{
    padding: 4%;
    border-top: dashed 1px $gray-light;
    border-bottom: dashed 1px $gray-light;
    .coupon-type{
      position: relative;
      padding-left: 25px;
      line-height: 30px;
      &+.row{
        padding-left: 25px;
      }
      &+.row>div, &+.row>label{
        line-height: 28px;
      }
      &.interest+.row{
        input[type="radio"]{
          top: 2px;
        }
      }

      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        left: 0;
      }
      &.interest:before{
        background: url(../images/interest.png) no-repeat center;
        background-size: contain;
      }
      &.coupon:before{
        background: url(../images/coupon.png) no-repeat center;
        background-size: contain;
      }
    }
  }
}

#my_info{
  .balance-info{
    background: rgba(219,168,76,.85);
    color: $white;
    padding-left: 5%;
    padding-right: 10%;
    .earning{
      padding-left: 30%;
    }
    >.row{
      position: relative;
      border-top: dashed 1px $white;
    }
    .plus-btn{
      width: 60px;
      height: 60px;
      line-height: 60px;
      background: #fff;
      border-radius: 30px;
      display: block;
      margin: auto;
      color: $accent;
      font-size: 18px;
      position: absolute;
      right: -20px;
      top: -30px;
    }
  }
  .card{
    padding-top: 0;
    .title{
      background-color: $accent-bg;
      line-height: 34px;
      color: $white;
    }
    .item-image{
      margin: 0;
      border-top: 0;
      border-radius: 10px;
      min-height: 300px;
      max-height: 308px;
      .slider-slide{
        padding: 3px;
      }
      .desc{
        &.desc-bg{
          background: rgba(255,255,255,.8);
        }
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 46px;
        font-size: 13px;
        text-align: left;
        margin: 0;
        padding: 3px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        i{
          font-size: 26px;
          color: whitesmoke;
        }
      }
    }
  }
}


.logo-part{
  height: 100px;
  margin: 5% 0;
  background: url(../images/landlord-logo-3.png) no-repeat center;
  background-size: contain;
}

// phone view
#phone_view{
  .card{
    background: rgba(0,0,0,.4);
    padding-bottom: 10%;
  }
  .item-input{
    margin: 5% 0;
  }
}

#register_view, #login_view{
  .card{
    padding: 2% 15px;
  }
  .tip{
    margin: -5px 0 10px;
  }
}

.card{
  .button-full{
    margin-top: 10%;
  }
}


#order_view{
  .calc{
    line-height: 23px;
    background: rgba(219,168,76,.7);
    .col{
      position: relative;
      &:first-child:after{
        content: '=';
        position: absolute;
        top: 50%;
        right: -7px;
      }
    }
    .col:nth-child(2):after{
      content: '+';
      position: absolute;
      top: 50%;
      right: -4px;
    }
  }
  form{
    padding: 15px 20px;
    .align{
      margin-top: 15px;
      margin-left: 4%;
    }
  }
  .card {
    margin: 5px 0 20px;
    .title{
      line-height: 46px;
      font-size: 20px;
      margin: 0 10px;
      color: $gray-dark;
      border-bottom: solid 1px $gray-light;
    }
    .payment-show{
      .row{
        border-bottom: solid 1px $gray-light;
        padding-bottom: 10px;
        line-height: 1.6;
        .col-50:first-child{
          border-right: solid 1px $gray-light;
        }
      }
    }
    .payment-select{
      padding-top: 6%;
      padding-bottom: 4%;
      .row{
        margin: 10px -10px;
        padding-left: 0;
        padding-right: 0;
      }
      .card-pay{
        margin-left: 15%;
        padding-left: 10px;
      }
    }
  }
}


input[clear-input]+i{
  display: none;
}
input[clear-input]:focus+i{
  display: block;
  position: absolute;
  right: 0px;
  top: 12px;
  font-size: 29px;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
}

#no_record{
  margin: 10% 14%;
  background-color: rgba(255,255,255,0.9);
  .name{
    font-size: 20px;
    margin: 10% 0;
  }
  .content{
    font-size: 18px;
    margin-bottom: 30%;
  }
  .cmd:before{
    content: '去考察'
  }
}

.item-select span.select{
  font-size: 14px;
}

.c-select{
  position: relative;
  &:after{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #999;
    content: "";
    pointer-events: none;
  }
}


#alert_modal{
  min-height: 30%;
  width: 80%;
  height: 30%;
  left: 10%;
  top: 30%;
  border-radius: $border-radius-size;
  .content{
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  .cmds .button{
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0;
  }
}



@import "screen";

