<ion-view view-title="添加银行卡" class="whitesmoke-bg">
	<ion-content class="padding" id="pay">
		<div class="padding-vertical">只能添加以 <span class="bold energized">{{order.realname}}</span> 开户的银行借记卡</div>
		<form name="addForm" ng-submit="next()">
			<section class="list">
				<label class="item item-icon-left item-arrow-right" ng-click="selectBank()">
					<i class="icon bank-icon" ng-class="order.card.shortName"></i>
					{{order.card.name}}
					<div class="gray">{{order.card.limit.desc}}</div>
			  </label>
			  <div class="padding-top">
			  	<div class="item item-input">
			  	  <input type="text" ng-model="order.cardNo" ng-pattern="/^[0-9]{16,19}$/" placeholder="银行卡号" clear-input required>
			  	</div>
			  </div>

			  <div class="dbl-padding-top">
			  	<div class="padding-bottom">办卡时预留在银行的手机号</div>
			  	<div class="item item-input">
			  	  <input type="text" name="phone" ng-model="order.phone" ng-pattern="/^[0-9]{11}$/" placeholder="手机号码" clear-input required>
			  	</div>
			  </div>
			</section>

		  <button type="submit" class="button button-block button-energized" ng-disabled="addForm.$invalid || clicked">下一步</button>

	  	<!-- <div class="padding gray text-center fs-xs">
	  		添加即表示同意<a class="positive" href="#/tab/quickPayTos">《快钱快捷支付协议》</a>
	  	</div> -->

	  </form>
	</ion-content>
</ion-view>