<ion-view view-title="账户资金" class="whitesmoke-bg">
	<ion-content>
		<div class="item init-line-height text-center">
			<div class="padding-top">账户可用资金(元)</div>
			<div class="fs-36 assertive padding-bottom">{{info.balance.available | currency:''}}</div>
		</div>

		<div class="row white-bg no-padding border-top border-bottom text-center">
			<a class="col-50 border-right dbl-padding-vertical fs-md balanced" ng-click="recharge()">
				充值
			</a>
			<a class="col-50 dbl-padding-vertical fs-md assertive" ng-click="withdraw()">
				提现
			</a>
		</div>

		<a class="margin-top item item-arrow-right" ui-sref="tabs.balanceRecords">
			<span class="gray">充值提现记录</span>
		</a>
	</ion-content>
</ion-view>