<ion-view view-title="{{house.title}}">
  <ion-content class="padding">
  	<div class="card padding align-center" id="buy_card">
  		<div class="row cal">
  			<div class="col-33 col-center">投资金额</div>
  			<div class="col-50">
  				<div class="row item count">
  					<div class="col-25">
  						<button class="button button-small" ng-disabled="buy.volume == 1" ng-click="decrease()"><i class="ion-minus"></i></button>
  					</div>
  					<div class="col-50">
  						<input type="number" class="align-center" placeholder="1" ng-model="buy.volume">
  					</div>
  					<div class="col-25">
  						<button class="button button-small" ng-disabled="buy.volume == item.limit" ng-click="increase()"><i class="ion-plus"></i></button>
  					</div>
  				</div>
  			</div>
  			<div class="col-30 col-center">万元</div>
  		</div>
		  

		  <div class="padding align-center fs-xs limit-desc">
		  	仅剩<span class="accent fs-md">{{house.remain}}</span>万元可投资，购买上限<span class="accent">{{item.limit}}</span>万元
		  </div>

		  <div class="row" style="margin-top: 15px">
		  	<div class="col-50">
		  		<div class="pre-box align-center">
		  			<div class="title">预估 · 月收益</div>
		  			<div class="content">
		  				<div class="accent">{{buy.mIncome}}</div>
		  				<div class="unit fs-xs">元/月</div>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="col-50">
		  		<div class="pre-box align-center">
		  			<div class="title">预估 · 到期收益</div>
		  			<div class="content">
		  				<div class="accent">{{buy.total}}</div>
		  				<div class="unit fs-xs">元</div>
		  			</div>
		  		</div>
		  	</div>
		  </div>
		  <div class="fs-xs padding-top">
		  	收益期限：{{house.startDate}} ~ {{house.endDate}}
		  </div>
		  <div class="padding fs-xs" ng-init="tos=true">
		  	<input type="checkbox" class="small" ng-model="tos"> 同意<a class="blue" href="#/tab/tos">《投资协议书》</a>
		  </div>
  	</div>

		<button class="button button-full" ng-click="buyNow()" ng-disabled="!tos">立即投资</button>

  </ion-content>

  <publicity></publicity>
</ion-view>
