<ion-view view-title="投资" id="buy">
  <ion-content>
  	<div class="dbl-padding-horizontal dbl-padding-vertical" id="buy_card">
			<div class="row">
				<div class="col-25">
					<i class="icon i-nono-count"></i>
					投资份数
				</div>
				<div class="col-75 text-right gray col-center">
					每份{{item.per | currency:''}}元，剩余{{item.maxVolume}}份
				</div>
			</div>

			<div class="counter">
				<button class="button button-small button-energized" ng-disabled="order.volume == item.minVolume" ng-click="decrease()"><i class="ion-minus"></i></button>
				<input type="tel" class="text-center" placeholder="1" ng-model="order.volume">
				<button class="button button-small button-energized" ng-disabled="order.volume == item.maxVolume" ng-click="increase()"><i class="ion-plus"></i></button>
			</div>
			
			<section class="dbl-margin-vertical">
				<div>
					<i class="icon i-nono-pig"></i>
					投资金额
				</div>
				<div class="fs-lg energized padding-vertical">{{order.amount || 0 | currency:'￥'}}</div>
			</section>

			<section class="dbl-margin-vertical" ng-click="selectInterestCoupon()">
				<div>
					<i class="icon i-nono-coupon-interest"></i>
					加息券
				</div>
				<div class="item item-arrow-right padding margin-top" ng-class="{'interest-coupon': selected.interest!==null}">
					<span ng-show="selected.interest===null">没有可用的加息券</span>
					<span ng-show="selected.interest!==null">加息 <span class="fs-lg">{{coupons.interest[selected.interest].value}}%</span></span>
				</div>
			</section>
			
			<section class="dbl-margin-vertical">
				<div>
					<i class="icon i-nono-rent"></i>
					预计房租收入
					<small class="gray"> ({{subject.interest_start_date}} 至 {{subject.interest_end_date}})</small>
				</div>
				<div class="fs-lg energized padding-vertical">
					<span class="energized">{{order.income || 0 | currency:'￥'}}</span>
					<span ng-show="order .extraEarn"><span class="energized"> + {{order.extraEarn | currency:'￥'}}</span></span>
				</div>
			</section>

		  <button class="button button-block button-energized" ng-click="buyNow()">确认投资</button>

		  <div class="dbl-margin text-center gray">
		  	<small>确认投资表示同意 <span class="positive" ng-click="goTos()">《投资协议书》</span></small>
		  </div>
  	</div>

  </ion-content>
</ion-view>
