<ion-view view-title="修改{{user.key}}密码" class="whitesmoke-bg">
	<ion-content class="">
		<form name="changeForm" ng-submit="submit()">
			<div class="padding">
				<div class="padding-vertical">
					<div class="item item-input">
						<!-- <span class="input-label">原{{user.key}}密码</span> -->
						<input type="password" ng-model="user.password" placeholder="原{{user.key}}密码" ng-change="user.oMismatch=false" required>
					</div>
				</div>
				<div class="padding-bottom">
					<div class="item item-input">
						<!-- <span class="input-label">新{{user.key}}密码</span> -->
						<input type="password" ng-model="user.newPassword" placeholder="新{{user.key}}密码" ng-click="passwordValidate(user.newPassword)" required>
					</div>
				</div>
				<div class="padding-bottom">
					<div class="item item-input">
						<!-- <span class="input-label">确认密码</span> -->
						<input type="password" ng-model="user.confirm" placeholder="确认新密码" ng-change="user.mismatch=false" required>
					</div>
					<p class="gray padding-top fs-xs">提示：6-16位，至少包含数字、字母、符号中的2种</p>
				</div>
			</div>
			<div class="submit padding-horizontal">
				<button type="submit" class="button button-block button-energized" ng-disabled="changeForm.$invalid || user.mismatch">提交</button>
			</div>
		</form>
	</ion-content>
</ion-view>