<ion-view view-title="修改{{user.key}}密码" class="whitesmoke-bg">
	<ion-content class="">
		<form name="changeForm" ng-submit="submit()">
			<div class="list padding-top">
				<div class="item item-input">
					<span class="input-label">原{{user.key}}密码</span>
					<input type="password" ng-model="user.password" ng-change="user.oMismatch=false" required>
				</div>
				<div class="item item-input">
					<span class="input-label">新{{user.key}}密码</span>
					<input type="password" ng-model="user.newPassword" ng-click="passwordValidate(user.newPassword)" required>
				</div>
				<div class="item item-input">
					<span class="input-label">确认密码</span>
					<input type="password" ng-model="user.confirm" ng-change="user.mismatch=false" required>
				</div>
			</div>
			<div class="submit padding-horizontal">
				<button type="submit" class="button button-full" ng-disabled="changeForm.$invalid || user.mismatch">提交</button>
			</div>
		</form>
	</ion-content>
</ion-view>