<ion-view view-title="特使活动规则" class="whitesmoke-bg">
	<ion-content class="envoy-rule">
		<h4>1. 邀请方式</h4>
		大房东特使可以通过微信分享的功能把他的专属邀请链接发送给被邀请人
		<ol>
			<li><span class="list-style">a.</span>当被邀请人通过您的连接成功注册后，您将成为该被邀请人的大房东特使。</li>
			<li><span class="list-style">b.</span>当您邀请的用户，未通过您的邀请链接下载注册APP，您将不能成为该用户的大房东特使。</li>
		</ol>

		<h4>2. 奖励规则</h4>
		<ol class="">
			<li><span class="list-style">a.</span>每邀请一位用户在大房东App注册，在其注册后1年时间内，其在大房东投资的大房东产品年化投资金额的 1%，将作为现金奖励发放给该大房东特使。</li>
		</ol>
		<ol class="">
			<li><span class="list-style">b.</span>如何成为大房东特使：您在完成注册后，便自动成为大房东特使。</li>
		</ol>

		<h4>3. 奖励发放</h4>
		<ol class="">
			<li><span class="list-style">a.</span>大房东将于每月的最后一天，以系统提供的数据为基础，核对确认这个月每位特使和被邀请人应获得的奖励。</li>
		</ol>
		<ol class="">
			<li><span class="list-style">b.</span>大房东将于下月的15日左右，将您本月获得的现金奖励发放到您的大房东账户余额中，可直接用于投资或提现。</li>
		</ol>
		<ol class="">
			<li><span class="list-style">c.</span>待结算奖励中的金额可能包含后下半个月的奖励金额，该部分金额将延至下个月15日左右发放。</li>
		</ol>
		<ol class="">
			<li><span class="list-style">d.</span>大房东不代缴个人所得税，请获得奖励的大房东特使自行缴纳个人所得税。</li>
		</ol>

		<h4>备注：</h4>
		<ol class="">
			<li><span class="list-style">a.</span>如大房东特使采用某些特殊技术手段，或是邀请的用户身份异常，一经核实，大房东保留拒绝支付奖励的权利。</li>
		</ol>
		<ol class="">
			<li><span class="list-style">b.</span>大房东特使活动试运营阶段，可能会不定期调整规则，调整的内容将在本页面展示，敬请留意。</li>
		</ol>

	</ion-content>
</ion-view>