<ion-view view-title="找回支付密码">
	<ion-content class="padding">
		<div class="card padding">
			<!-- <div class="padding align-center">为了您的账户安全，请设置您的登录密码</div> -->
			<div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" ng-model="user.vcode" placeholder="短信验证码">
		    </label>
		    <button class="button button-small button-light" ng-click="sendSms()" ng-disabled="resendCountdown">
		      <span ng-show="resendCountdown">{{resendCountdown}}s后</span>重新发送
		    </button>
		  </div>
			<label class="item item-input">
		    <!-- <i class="icon ion-locked placeholder-icon"></i> -->
		    <input type="password" ng-model="user.password" placeholder="6~16位字母、数字、字符组合">
		  </label>
		  <button class="button button-full" ng-click="retrievePayPassword()" ng-disabled="!user.vcode || !user.password">设置</button>
		</div>
	</ion-content>

	<publicity></publicity>
</ion-view>