<ion-view view-title="{{title}}" class="home whitesmoke-bg" hide-back-button="true" id="home">
  <ion-nav-buttons side="left">
    <button class="button button-icon transparent" on-double-tap="reload()">双击刷新</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" spinner="lines">
    </ion-refresher>

   <!--  <ion-slide-box show-pager="false" delegate-handle="homeTabs" id="homeSlides" class="full-height" enableSlide="false" on-slide-changed="onSlideChanged($index)" active-slide='0'>
      <ion-slide> -->
      <article ng-show='newTab'>
        <div class="relative white-bg preview" ng-click="showDetail()">
         <img src="images/preview.jpg" ng-src="{{current.house.previews[0]}}" height="230" width="100%">
         <div class="hot fs-md text-center white">热</div>
        </div>

        <section class="white-bg" ng-click="showDetail()">
          <div class="dbl-margin-horizontal padding-vertical border-bottom item-arrow-right relative">
            <div class="fs-18 padding-bottom">{{current.subject.title.substr(7)}} <span class="dbl-padding-left">{{current.house.name}}</span></div>
            <div class="fs-xs gray">
              {{current.house.type || "地铁房"}}
            </div>
            <div class="gray">{{current.house.city}} - {{current.house.district}} 市价{{+current.house.price/10000}}万 抵押借款{{+current.subject.amount.sum/10000}}万</div>
          </div>
        </section>

        <section class="padding-horizontal white-bg">
          <div class="row padding energized">
            <div class="col-50 fs-lg">{{current.subject.annual_yield_show}}</div>
            <div class="col-50 text-right"><span class="inline-block border-energized padding-horizontal">{{current.subject.duration}}个月</span></div>
          </div>
          <div class="row padding gray fs-xs">
            <div class="col-50">预期年化收益率</div>
            <div class="col-50 text-right">已有{{current.sale_records.length}}位房东</div>
          </div>

          <div class="padding-horizontal dbl-padding-bottom">
            <button class="button button-block button-energized no-margin" ng-click="invest()" ng-disabled="current.subject.status!=3">投资</button>
          </div>
        </section>

        <div class="margin-vertical white-bg">
          <a class="item item-icon-left item-arrow-right no-border reserve" ui-sref="tabs.reserve">
            <i class="icon i-nono-calender"></i>
            <span class="gray">提前预约，收益再</span><span class="energized fs-md">+1%</span>
          </a>
        </div>
      </article>
      <!-- </ion-slide> -->

      <!------------------ history subjects ---------------------->
      <!-- <ion-slide> -->
      <article ng-show='!newTab'>
        <section ng-repeat="item in pastSubjects" class="white-bg past-subject margin-vertical" ng-click="showPastSubject($index)">
          <div class="relative">
            <img src="images/preview.jpg" ng-src="{{item.house.previews[0]}}"  height="270" width="100%">
            <!-- <section hidden> -->
              <div class="name fs-md">
                {{item.subject.title.substr(7)}}
                <span class="dbl-padding-left"> {{item.house.name}}</span>
                <span> ({{item.subject.annual_yield_show}})</span>
              </div>

              <div class="desc flex-center">
                <div class="wrapper text-center">
                  <div>{{item.sale_records.length}}位房东预计可分到租金{{item.desc.total | currency:''}}元</div>
                  <div>最高1人投资{{item.desc.top.amount/10000 | currency:''}}万，收入约{{item.desc.top.profit | currency:''}}元</div>
                </div>
              </div>
              
            <!-- </section> -->
          </div>
          <div class="row type">
            <div class="col fs-xs">{{item.house.type || "地铁房"}}</div>
            <div class="col text-right energized">{{current.subject.duration}}个月</div>
          </div>
        </section>
        <ion-infinite-scroll
          ng-if="moreDataCanBeLoaded()"
          on-infinite="loadPastSubjects()"
          icon="ion-loading-c"
          spinner="lines"
          immediate-check="true"
          distance="1%">
        </ion-infinite-scroll>
      </article>
      <!-- </ion-slide> -->
    <!-- </ion-slide-box> -->

  </ion-content>
</ion-view>



