<ion-view view-title="大房东" class="home" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon transparent" on-double-tap="reload()">双击刷新</button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="goToInfo()">我的房产</button>
	</ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" spinner="lines">
    </ion-refresher>
    <div class="card align-center" id="house_card">
    	<div class="relative" ng-click="openModal()">
       <img src="images/preview.jpg" class="preview-img" ng-src="{{house.previews[0].path}}" alt="" height="135" width="100%"> 
       <div class="img-tip align-center fs-xs accent">点击图片查看详情</div>
      </div>
      <div class="fs-lg bold name">大房东投资计划<span>{{house.title.substr(7)}}</span></div>
      <div class="row padding-horizontal">
      	<div class="col no-padding">
      		<span class="fs-xs dot">{{house.duration}}个月/{{house.minPrice}}万起投</span>
      	</div>
      	<div class="col no-padding">
      		<span class="fs-xs dot">{{house.houseType || "地铁房"}}</span>
      	</div>
      </div>

     <!--  <div class="percent bold" ng-hide="showDetail" ng-click="showTip()">{{house.annualYield}}<span class="per">%</span><i class="ion-help-circled pull-right" ng-show="hasTip" ng-cloak></i></div> -->
     <div class="percent bold" ng-hide="showDetail">{{house.annualYield || 9.88}}<span class="per">%</span></div>
      <!-- <div class="percent bold" ng-show="showDetail" ng-cloak><span class="per">9.88% + </span>{{(+house.annualYield - 9.88).toFixed(2)}}<span class="per">%</span></div> -->
      <div class="predict fs-xs"><span class="dot">预期年化收益率</span></div>
      
      <div class="progress-bar">
        <span style="width: {{house.completeRate || 0}}%"></span>
      </div>
      <div class="row fs-xs gray">
        <div class="col align-left">共{{+house.price/10000}}万</div>
        <div class="col align-right" ng-show="house.status==3">仅剩{{house.remain}}万</div>
        <div class="col align-right" ng-show="house.status==1">已售罄</div>
      </div>

      <div class="seize-wrapper" ng-cloak ng-class="{disabled: house.status!=3}">
        <div class="seize">
          <a href="#/tab/buy" ng-show="house.status==3"><img src="images/seize.png" alt="抢" width="50"></a>
          <a ng-show="house.status==1">收益中...</a>
          <a ng-show="house.status==0">敬请期待</a>
          <span class="countdown" ng-show="countdown">
            <span class="odometer" id="h1"></span>
            <span class="odometer" id="h2"></span>
            <span class="odometer">:</span>
            <span class="odometer" id="m1"></span>
            <span class="odometer" id="m2"></span>
            <span class="odometer">:</span>
            <span class="odometer" id="s1"></span>
            <span class="odometer" id="s2"></span>
          </span>
        </div>
      </div>
      <a href="#/tab/interestCoupon" class="pull-right accent-light fs-xs" id="interest_coupon">什么是加息券？</a>
    </div>
  </ion-content>
</ion-view>

