<ion-view view-title="我的房产" id="my_info" class="whitesmoke-bg">
	<ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="showMenu()"><i class="ion-ios-more"></i></button>
	</ion-nav-buttons>

	<ion-content>
		<section class="padding item">
			<div>累计收益</div>
			<div class="align-center fs-lg">{{balance.earnings | currency:''}}</div>
		</section>
		<section class="padding item">
			<div>下期收益</div>
			<div class="row align-center">
				<div class="col-33 col-offset-33 fs-lg">{{balance.earnings | currency:''}}</div>
				<div class="col-33">2015/5/21</div>
			</div>
		</section>

		<section class="row padding align-center item">
			<div class="col">
				<div>账户余额（元）</div>
				<div>{{balance.available | currency:''}}</div>
			</div>
			<div class="col">
				<div>冻结金额（元）</div>
				<div>{{balance.frozen | currency:''}}</div>
			</div>
		</section>

		<div class="list padding-top">
			<a class="item item-arrow-right" href="#/tab/orders">我的房产清单</a>
			<a class="item item-arrow-right">我的预约记录</a>
		</div>
		
	</ion-content>
</ion-view>