<ion-view view-title="大房东加息券" hide-back-button="true">
	<ion-nav-buttons side="right">
    <button class="button button-icon fs-sm" ng-click="close()">关闭</button>
	</ion-nav-buttons>
  <ion-content class="padding white fs-xs tos-content">
  <p><b>什么是大房东加息券？</b></p>
  <p class="text-indent">大房东加息券是向投资大房东的投资者提供的专属投资返利券，用户在大房东投资后，投资者在获得基础收益的同时，再额外获得加息券的年化收益，加息券的收益将在投资到期后和本金一同结算。（例：你购买了大房东100,000元人民币，期限12个月，使用年化利率为2%的加息券，则在结算时将额外获得2000元的收益奖励。）</p>
  <p class="text-indent">加息券仅作为一项用户福利，不可折现、不可转让，用户须在有效期内按加息券的使用规则及时使用。</p>
  <p><b>加息券的收益什么时候发放？</b></p>
  <p class="text-indent">由于加息券是一种投资返利券，因此该笔收益将在您购买的大房东投资产品到期时和本金一起结算，在资金记录中以“平台活动”的名目发放。（例：你1月份购买了一笔6个月期大房东投资产品100,000元，使用年化利率为2%的加息券后，那么将会在收益到期后结算时额外获得1000元的加息收益。该笔收益不会每月平均发放，将会在到期结算后一次性发放。）</p>

  <p><b>如何获取加息券？</b></p>
  <p>
  1. 为感恩回馈新老用户，大房东会不定期地发放加息券给用户，用户可在我的福利中查看。<br>
  2. 参与含加息券奖励的各类活动。<br></p>
  <p><b>如何使用加息券？</b></p>
  加息券只能在购买大房东投资产品时使用，步骤如下：<br>
  1. 选购完投资项目后进入支付页面，若账户中存在符合使用条件的加息券，则全部显示；<br>
  2. 用户可选择使用其中的1张加息券，（每次购买投资产品限用一张加息券）<br>
  3. 使用后，在该笔投资结算时，用户获得额外的收益奖励。<br>
  4. 若产品介绍中显示“附带加息券”则将用户投资后，由系统自动补上加息券。<br>

  </ion-content>
</ion-view>