<ion-view view-title="房东信息" id="login_view">
	<ion-content class="padding">
		<div class="card padding">
			<div class="padding align-center">您已经是大房东的用户，请您登录</div>
			<label class="item item-input">
		    <i class="icon ion-locked placeholder-icon"></i>
		    <input type="password" ng-model="account.password" placeholder="请输入登录密码">
		  </label>
		  <div class="pull-right padding">忘记密码?</div>
		  <button class="button button-full" ng-click="login()">登录</button>
		</div>
	</ion-content>

	<publicity></publicity>
</ion-view>