<ion-modal-view id="preview_modal">
  <div class="card">
  	<div class="item item-image">
  		<ion-slide-box show-pager="true">
  		  <ion-slide ng-repeat="item in house.previews">
  		  	<img ng-src="{{item.path}}" alt="" height="97%">
  		  </ion-slide>
  		</ion-slide-box>
  		<span class="seize-button" ng-click="seize()" ng-show="house.status==3">
        <img src="images/seize.png" alt="抢">
      </span>
  	</div>
  	<div class="padding-horizontal bold desc">{{house.slogan}}</div>
  </div>
</ion-modal-view>