<ion-view view-title="账户安全" id="account_security" class="whitesmoke-bg">
	<ion-content class="padding-top">
		<div class="list margin-bottom">
			<a class="item" ng-class="{'item-arrow-right': !info.kyc}" ng-href="{{info.setKyc}}">
		    实名信息
		    <span class="item-note">
	        {{info.kyc ? info.kyc : '未认证'}}
	      </span>
		  </a>

		  <a class="item" href="">
      手机号码
	      <span class="item-note">
	        {{info.phone | phone}}
	      </span>
	    </a>
    </div>
    <div class="list">
	    <a class="item item-arrow-right" href="#/tab/changePassword">
	      登录密码
	      <span class="item-note">
	        修改
	      </span>
	    </a>

	    <a class="item item-arrow-right" ng-href="{{'#/tab/resetPayPassword'+(info.payPwdSet?'':'?type=new')}}">
	      支付密码
	      <span class="item-note">
	        {{info.payPwdSet ? '修改':'未设置'}}
	      </span>
	    </a>
		</div>
	</ion-content>

	<div class="padding logout">
		<button class="button button-block button-light" ng-click="logout()">退出登录</button>
	</div>
</ion-view>