<ion-view view-title="我的福利券" id="my_coupons">
	<ion-nav-buttons side="right">
    <a ui-sref="tabs.aboutCoupons"><button class="button button-icon">帮助</button></a>
  </ion-nav-buttons>
	<section class="dbl-padding product-tabs" ng-init="type='cash'">
		<div class="row text-center no-padding">
			<div class="col" ng-class="{active: type=='cash'}" ng-click="type='cash'">现金券</div>
			<div class="col" ng-class="{active: type=='interest'}" ng-click="type='interest'">加息券</div>
		</div>
	</section>
	<ion-content>
		<div class="dbl-margin-horizontal">
			<div class="coupon dbl-margin-bottom energized">
				<div class="padding-vertical dbl-padding-horizontal desc">
					<span class="fs-lg bold" ng-show="type==='interest'">加息</span>
					<span class="value">{{coupon.value || 100}}</span>
					<span class="fs-lg bold">{{type==='interest' ? '%' : '元'}}</span>
					<div class="gray">(投资{{coupon.minimum/10000}}万元以上使用)</div>
				</div>
				<div class="valid-date">有效期: 2015.5.10 至 {{coupon.expired | moment:'YYYY.MM.DD'}}</div>
			</div>
		</div>
	</ion-content>
</ion-view>