<ion-view view-title="投资记录" class="whitesmoke-bg">
	<ion-content>
		<section class="item padding">
			<div class="row align-center">
				<div class="col-50">
					总投资额(元) 
					<div>{{100000 | currency:''}}</div>
				</div>
				<div class="col-50">
					总收益额(元) 
					<div>{{100 | currency:''}}</div>
				</div>
			</div>
		</section>

		<article class="padding-top">
			<section class="align-center padding-top" ng-repeat="item in items">
				<div class="row item">
					<div class="col align-left">{{item.title}}</div>
					<div class="col align-right">{{item.duration}}个月</div>
				</div>
				<div class="row item">
					<div class="col">购买时间</div>
					<div class="col col-center">投资金额(元)</div>
					<div class="col col-center">利率(加息)</div>
				</div>
				<div class="row item" ng-repeat="record in item.buyRecords">
					<div class="col" ng-bind-html="record.date.replace(' ', '<br>')"></div>
					<div class="col col-center">{{record.amount | currency:''}}</div>
					<div class="col col-center">{{record.annualYield}}</div>
				</div>
				<div class="row item">
					<div class="col" ng-click="showHouse($index)">去看房</div>
					<div class="col" ng-click="showRefund($index)">回款计划</div>
					<div class="col" ng-click="goToTos($index)">电子合同</div>
				</div>
			</section>
		</article>
	</ion-content>
</ion-view>