<ion-view view-title="开始当房东" cache-view="false" id="order_view">
  <ion-content class="padding">
  	<div class="card align-center">
  		<div class="title">支付金额：<span class="accent">{{order.total | currency:''}}</span>元</div>
  		<section class="padding payment-select list">
        <label class="balance">
          <span>
            <input type="checkbox" ng-model="order.useBalance" ng-disabled="!order.balanceUsable">
          </span>
          账户余额（{{order.balanceUsable | currency:''}}元）
        </label>
  			<div class="item item-select">
          <span class="input-label">
            <input type="checkbox" ng-model="order.useCard" ng-disabled="order.cardDisabled"> 
          </span>
	       	<select ng-model="order.bankCard" ng-options="card.value as card.label for card in bankCards" ng-disabled="!order.useCard" ng-click="addNewCard()">
		       </select>
  			</div>
        <div ng-show="order.bank" class="card-pay align-left fs-xs accent">银行卡还需支付{{order.bank | currency:''}}元</div>

	  		<label class="item item-input">
			    <input type="password" placeholder="请输入支付密码" ng-model="user.payPassword">
			  </label>
  		</section>
  	</div>

		<button class="button button-full" ng-click="quickPay()" ng-disabled="!(order.useBalance || order.useCard) || !user.payPassword">支付</button>
		<a href="#/tab/forgotTxPwd" class="pull-right blue">忘记支付密码</a>
  </ion-content>

  <publicity></publicity>
</ion-view>