<ion-view view-title="支付" id="order">
  <ion-content>
    <div class="dbl-padding-horizontal">
      <section class="dbl-margin-vertical" ng-click="selectCashCoupon()">
        <div><i class="icon i-nono-discount"></i> 现金券抵扣</div>
        <div class="item item-arrow-right padding margin-top" ng-class="{'cash-coupon':selected.cash!==null}">
          <span ng-show="selected.cash===null">没有可用的现金券</span>
          <span ng-show="selected.cash!==null"><span class="fs-lg">{{coupons.cash[selected.cash].value | currency:'￥'}}</span></span>
        </div>
      </section>

      <section class="dbl-margin-vertical">
        <div class="row dbl-margin-bottom">
          <div class="col-33 text-center gray">账户余额</div>
          <div class="col-66 energized fs-lg">{{balance.available | currency:'￥'}}</div>
        </div>
         <div class="row">
          <div class="col-33 text-center gray">还需支付</div>
          <div class="col-66 energized fs-lg bold">{{order.pay | currency:'￥'}}</div>
        </div>
      </section>

      <section class="dbl-margin-vertical dbl-padding-vertical text-center gray">
        <div>付款后，资金由快钱支付公司托管</div>
        <div class="padding"><a class="positive">查看银行卡支付限额</a></div>
      </section>

      <section>
        <button class="button button-block button-balanced" ng-click="confirm()">确定</button>
      </section>
    </div>
  </ion-content>
</ion-view>