<ion-view view-title="{{house.title}}" id="order_view">
  <ion-content>
    <section class="white summary">
      <div class="row align-center">
        <div class="col">
          <div>投资金额</div>
          <div>{{pay.count*10000 | currency:''}}元</div>
        </div>
        <div class="col">
          <div>预估到期收益</div>
          <div>{{pay.earning | currency:''}}元</div>
        </div>
      </div>
    </section>
    <section class="white align-center calc">
      <div class="row">
        <div class="col">
          <div>支付金额</div>
          <div>{{order.total | currency:'￥'}}</div>
        </div>
        <div class="col">
          <div>余额支付</div>
          <div>{{order.balance | currency:'￥'}}</div>
        </div>
        <div class="col">
          <div>银行卡支付</div>
          <div>{{order.bank | currency:'￥'}}</div>
        </div>
      </div>
    </section>
    <form name="orderForm" ng-submit="quickPay()">
      <div class="card">
        <section class="padding payment-select list">
          <label class="item item-input">
            <input type="password" placeholder="请输入支付密码" ng-model="user.payPassword" ng-pattern="/^[\s\S]{6,16}$/" required>
          </label>
          <div class="row">
            <label class="col-20 align-center">
              <input type="checkbox" ng-model="order.useBalance" ng-disabled="!order.balanceUsable">
            </label>
            <div class="col-60">账户余额（{{order.balanceUsable | currency:''}}元）</div>
            <div class="col-20 align-right"><a href="#/account/recharge" class="blue">充值</a></div>
          </div>
          <div class="row">
            <label class="col-20 align-center">
              <input type="checkbox" ng-model="order.useCard" ng-disabled="order.cardDisabled"> 
            </label>
            <div class="col-80" ng-click="selectBank()">
              <div class="c-select">{{order.bankCardShow}}</div>
            </div>
            <div ng-show="showBankRec" class="col-offset-20 col-80 fs-xs accent">该卡单笔限额5000元</div>
          </div>

          <section class="align" ng-show="showBankRec">
            <bank-rec></bank-rec>
            <div class="align-left padding-top gray fs-xs">土豪君VIP热线：<a href="tel:4000646668" class="accent">4000-646-668</a></div>
          </section>
        </section>
      </div>

      <button type="submit" class="button button-full" ng-disabled="!(order.useBalance || order.useCard) || orderForm.$invalid">确认支付</button>
      
    </form>
  	
  </ion-content>

  <publicity></publicity>
</ion-view>