<ion-view view-title="大房东">
	<ion-nav-buttons side="right">
	  <a href="#/account/info" id="my_info">
	    <button class="button button-icon">我的房产</button>
	  </a>
	</ion-nav-buttons>
  <ion-content class="padding">
    <div class="card">
    	<div class="item item-image">
    		<img src="images/preview.png" alt="" height="300">
    	</div>
    	<p>借款人以名下一套别墅房产做抵押借款，于2002年登记，房产总面积为393平方米，现市值人民币1500万元。借款用于企业周转，</p>
    	<a href="#/tab/buy"><h1>抢</h1></a>
    </div>

  </ion-content>

  <publicity></publicity>
</ion-view>