<ion-view view-title="账户充值">
	<ion-nav-buttons side="right">
	  <button class="button button-icon" ng-click="reload()">限额说明</button>
	</ion-nav-buttons>
	<ion-content>
		<form name="rechargeForm" ng-submit="quickRecharge()">
		  <div class="padding-vertical">
		  	<div class="item item-icon-left item-arrow-right" ng-click="selectCard()" ng-show="order.card">
		  		<i class="icon bank-icon" ng-class="order.card.shortName"></i>
		  		{{order.card.name}}(尾号{{order.card.tailNo}})
		  		<div class="gray">{{order.card.limit.desc}}</div>
		  	</div>
		  	<div class="item item-icon-left item-arrow-right" ng-click="addCard()" ng-hide="order.card">
		  		<i class="icon ion-ios-plus-empty"></i>
		  		添加银行卡
		  	</div>
		  </div>
		  <div class="padding-bottom">
		  	<label class="item item-input">
			    <span class="input-label">充值金额</span>
			    <input type="text" ng-model="order.amount" placeholder="0.00" required>
			  </label>
		  </div>
			<div class="padding-bottom">
			  <label class="item item-input">
			    <span class="input-label">支付密码</span>
			    <input type="password" ng-model="order.password" ng-pattern="/^[\s\S]{6,16}$/" placeholder="请输入支付密码" required>
			  </label>
			</div>
			<div class="dbl-margin-top padding">
				<button type="submit" class="button button-block button-energized" ng-disabled="rechargeForm.$invalid">确认充值</button>
			</div>
		</form>
	</ion-content>
</ion-view>