<ion-view view-title="回款计划" class="whitesmoke-bg">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="period in refundPeriods">
				<div class="gray">{{period.date}}</div>
				<div class="row no-padding fs-md">
					<div class="col no-padding"><span ng-show="+period.principal>0">本金</span>利息: {{+period.principal + +period.interest | currency:'￥'}}</div>
					<div class="col no-padding text-right" ng-class="{balanced:+period.status, assertive: !+period.status}">{{+period.status ? '已收' : '待收'}}</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>