<ion-view view-title="预约" id="reserve">
	<ion-content>
		<img src="images/reserve-banner.jpg" width="100%" alt="">
		<div class="dbl-padding">
			<div>
				<i class="icon i-nono-date positive"></i>
				<span class="gray">请选择投资的日期</span>
			</div>
			<div class="item item-select padding margin-top border-energized" ng-click="showCalenderFn()">
				{{order.selected.date}} <span class="padding-left">{{order.selected.localWeek}}</span>
			</div>
			<div class="text-center gray padding-top">
				{{order.selected.reserved_count}}人已预约
			</div>
		</div>

		<div class="dbl-padding">
			<div>
				<i class="icon i-nono-pig energized"></i>
				<span class="gray">投资金额</span>
			</div>
			<div class="item item-input margin-top border-energized fs-md">
				<input type="tel" placeholder="10000" ng-model="order.amount">
				<span class="padding-right">元</span>
			</div>
			<div class="text-center gray padding-top">
				当天24小时内帮您保留的投资额度
			</div>
		</div>

		<div class="dbl-padding">
			<button class="button button-block button-energized" ng-disabled="!order.amount" ng-click="reserve()">提交预约</button>
		</div>
	</ion-content>

	<article class="calender slideInUp animated" ng-class="{hide:!showCalender}" ng-cloak>
		<ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="calender">
		  <ion-slide ng-repeat="(key, value) in calender">
		    <header class="title">
		    	<div class="pull-left padding-horizontal" ng-click="previousMonth()">
		    		<i class="icon ion-ios-arrow-left"></i>
		    	</div>
		    	2015年{{key}}月
		    	<div class="pull-right padding-horizontal" ng-click="nextMonth()">
		    		<i class="icon ion-ios-arrow-right"></i>
		    	</div>
		    </header>
		    <section class="body">
		    	<div class="row">
		    		<div class="col-50" ng-click="select(key,$index)" ng-repeat="item in value">{{item.localDate}} <span class="padding-left">{{item.localWeek}}</span></div>
		    		<div class="col-50 transparent" ng-if="value.length <= 1">1</div>
		    		<div class="col-50 transparent" ng-if="value.length <= 2">2</div>
		    		<div class="col-50 transparent" ng-if="value.length <= 3">3</div>
		    		<div class="col-50 transparent" ng-if="value.length <= 4">4</div>
		    		<div class="col-50 transparent" ng-if="value.length <= 5">5</div>
		    		<div class="col-50 transparent" ng-if="value.length <= 6">6</div>
		    		<div class="col-50 transparent" ng-if="value.length <= 7">7</div>
		    	</div>
		    </section>
		  </ion-slide>
		</ion-slide-box>
	</article>
</ion-view>