<ion-view view-title="找回支付密码">
	<div class="logo-part"></div>
	<div class="card padding">
		<form name="retrieveForm" ng-submit="retrievePayPassword()">
			<div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" ng-model="user.vcode" ng-minlength="4" placeholder="短信验证码" required>
		    </label>
		    <button type="button" class="button button-small button-light" ng-click="sendSms()" ng-disabled="resendCountdown">
		      <span ng-show="resendCountdown">{{resendCountdown}}秒后重新发送</span>
		      <span ng-hide="resendCountdown">获取验证码</span>
		    </button>
		  </div>
			<label class="item item-input">
		    <input type="password" ng-model="user.password" ng-change="passwordValidate(user.password)" placeholder="6~16位字母、数字、字符组合" required>
		  </label>
		  <button type="submit" class="button button-full" ng-disabled="retrieveForm.$invalid || invalidPassword">设置</button>
		</form>
	</div>
</ion-view>