<ion-view view-title="设置支付密码" id="phone_view" hide-back-button="true">
	<ion-content>
		<div class="logo-part"></div>
		<div class="card padding">
			<form name="setForm" ng-submit="setPayPassword()">
				<div class="padding-top align-center white">为了您的支付安全，请设置您的支付密码</div>
				<label class="item item-input white">
			    <input type="password" ng-model="account.payPassword" ng-change="passwordValidate(account.payPassword)" placeholder="支付密码请与登录密码不同" required>
			  </label>
			  <button type="submit" class="button button-full" ng-disabled="setForm.$invalid || invalidPassword || clicked">设置</button>
			</form>
		</div>
	</ion-content>
</ion-view>