<ion-view view-title="密码设置" id="setting" class="whitesmoke-bg">
	<ion-content class="padding-top">
		<div class="list padding-top">
	    <a class="item item-arrow-right" href="#/tab/changePassword">
	      <!-- <i class="icon ion-locked energized"></i> -->
	      登录密码
	      <span class="item-note">
	        修改
	      </span>
	    </a>

	    <a class="item item-arrow-right" href="#/tab/changePayPassword">
	      <!-- <i class="icon ion-lock-combination assertive"></i> -->
	      支付密码
	      <span class="item-note">
	        {{info.payPwdSet ? '修改':'未设置'}}
	      </span>
	    </a>

	    <li class="item item-toggle">
	    	<!-- <i class="icon ion-ios-keypad-outline royal"></i> -->
       	手势密码
				<label class="toggle toggle-energized" ng-click="toggleGesture()">
				 <input type="checkbox" ng-model="info.gesture">
				 <div class="track">
				   <div class="handle"></div>
				 </div>
				</label>
      </li>
      <a class="item item-arrow-right" ng-click="changeGesture()" ng-if="info.gesture">
      	手势密码修改
      </a>
		</div>
	</ion-content>
</ion-view>