<ion-view view-title="投资协议书" hide-back-button="true">
	<ion-nav-buttons side="right">
    <button class="button button-icon fs-sm" ng-click="close()">关闭</button>
	</ion-nav-buttons>
  <ion-content class="padding white fs-xs">
		<div class="align-center fs-sm">诺诺精选“大房东”计划第【】期协议书</div><br>
协议编号：VIP_________ <br>
甲方：_____________ <br>
身份证件号码：_____________ <br>
联系电话：_____________ <br>
<br>
乙方：上海诺诺镑客金融信息服务有限公司 <br>
地址：上海市徐汇区肇嘉浜路1033号19-20层 <br>
邮编：200030 <br>
咨询电话：4000-646-668 <br>
<br>
甲乙双方经友好协商，本着平等自愿、诚实信用的原则，达成如下协议：<br>
1. 服务计划意向 <br>
a. 在互联网金融模式下，乙方推出"投资人优先自动投标及到期按相关规则退出"的服务计划，为加入服务计划的投资人提供更加贴心、便捷的服务，并将尽最大努力维护投资人的合法利益。<br>
b. 甲方自愿同意加入本次服务计划，并自愿遵守乙方网站现有的规则。<br>
<br>
2. 服务计划金额 <br>
（1） 甲方以下列自有合法资金加入本次服务计划：<br>
申请加入时间（    年  月  日） 加入金额（单位:    元）<br>
总计： <br>
（2） 甲方加入本次服务计划后，乙方将按照甲方首次加入计划的时间先后顺序，将甲方加入计划的金额在乙方平台安排进入优先自动投标。<br>
<br>
3. 本次服务计划的具体内容和要求如下：<br>
（1） 名称：诺诺精选【】投资计划第【】期（上	下文均称"本次服务计划"）。<br>
（2） 描述：甲方加入本次服务计划后，在锁定期内，加入服务计划的金额将被优先安排自动投标。锁定期结束，系统将会在锁定期的最后一日进行本息的结算，结算完成后的资金将自动划转至用户普通账户中。<br>
（3） 优先自动投标范围：乙方平台上发布的【】。<br>
（4） 加入金额要求：最低加入金额为人民币【1000.00】元，并以人民币【1000.00】元整数倍递增，最高不超过人民币【】元。<br>
（5） 匹配期：自 年 月 日至 年 月 日。<br>
（6） 锁定期：自 年 月 日至 年 月 日。<br>
（7） 甲方收益：甲方的收益将按本次服务计划所投标的对应的《借款担保协议》分别确认。本期计划预期年化收益【 】，到期结算一次性还本付息。<br>
（8）相应费用：<br>
充值费:<br>
a. 在线充值费（充值金额的 0.5%，目前优惠期间内充值手续费由乙方垫付）；<br>
b. 银行委托划扣手续费：系统的单笔划扣上限 499997元（部分银行单笔划扣上限低于499997元），手续费为3元/笔，大于上限的金额系统自动按最优拆分划扣。目前优惠期间内银行委托划扣手续费由乙方垫付。<br>
服务费：<br>
计划锁定期结束时，乙方对预期收益的超出部分作为服务费收取，未超出部分则不收取服务费。<br>
<br>
4. 服务计划保障<br>
（1） 为降低甲方因投资标的过于集中而所带来的信用违约风险，乙方将对甲方加入本次服务计划金额安排分散化的优先自动投标。<br>
（2） 为保证本次服务计划的及时性，在甲方加入本次服务计划时，即刻为甲方加入计划金额安排优先投标。<br>
（3） 为了保障甲方本金收益，本次服务计划将参照【本金保障计划】。<br>
5. 意外事件<br>
如因司法机关或行政机关对甲方采取强制措施导致其本次服务计划金额对应的资金被全部或部分扣划，视为甲方就全部本金进行了提前支取，本协议自动终止。本协议因此而自动终止的，甲方将不再享有相应收益。<br>
6. 税费<br>
甲方承担本服务计划所获收益的应缴税费。<br>
7. 甲方声明和保证<br>
（1）在签署本协议书之前，乙方已就本协议书及本服务计划有关交易文件的全部条款和内容向甲方进行了详细的说明（披露）和解释，甲方已认真阅读本协议，对本协议所有条款及相关内容已经阅悉，不存在任何疑问或异议，并对协议双方的合作关系、有关权利、义务、责任条款的法律含义有充分和清楚的理解，并对乙方所提示的风险由充分的了解和预期，甲方接收在本合同项下的出借行为所产生的全部收益及风险。<br>
（2）甲方保证所使用的资金为合法取得，且具有排他性的支配权。<br>
（3）甲方保证为履行本协议而向乙方提供的全部资料均真实、有效。如果第三方对资金归属、合法性问题提出异议，由甲方自行解决。如未能解决，则甲方承诺放弃享有其所出借资金带来的利息等收益。<br>
（4）甲方承诺遵守乙方平台上所有已经或将要制定的规则，包括但不限于网站平台上的《服务协议》和《隐私条款》及相关解释说明等。<br>
（5）甲方承诺：在注册并使用乙方平台出借资金时严格执行平台账户实名制及个人身份信息认证的要求，愿意随时接受乙方对其个人身份背景、资金来源的监督，愿意随时接受并配合相关金融机构基于《中国人民共和国反洗钱法》和《金融机构反洗钱条例》开展的反洗钱调查。<br>
8. 乙方声明和保证<br>
（1）乙方进行资信调查有赖于第三方的信息和服务，包括但不限于教育部、公安部所提供的信息和服务。乙方假定该等信息均为真实的，如因该等信息有误而给甲方造成的损失，乙方不承担相关责任。<br>
（2）乙方承诺向甲方提供诚信的、专业的信息平台等服务。<br>
（3）乙方承诺其提供的借入者真实存在，甲方出借后形成的个人债权债务关系真实存在，否则乙方承担因该债权债务关系不存在而对甲方造成的损失。<br>
（4）在保护借款标的所有权人个人隐私的前提下，经与所有权人协议，乙方将秉承最大诚信和公开、透明原则，向甲方披露本服务计划的借款标的的基本信息，如抵押房源信息、借款人的身份信息及工作单位等信息。但甲方应保证不向除司法机关以外的其他任何第三方透露，否则应承担相关责任。<br>
9. 其他<br>
（1）甲方需要通过乙方网站或客服人员、网站平台查询等方式了解相关信息。如未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素影响使甲方无法及时了解相关信息，由此产生的责任和风险由甲方自行承担。<br>
（2）本次服务计划并非独立于甲方在注册、使用乙方网站时需要遵守的相应规则和订立的相关协议。甲方必须遵守乙方的相关规则和签署的相关协议，如违背的，将自行承担相应后果。<br>
（3）由于地震、火灾、战争等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。<br>
（4）本次服务计划金额如未达到服务计划规模的下限，经乙方合理判断难以按照服务计划协议约定向甲方提供相应服务的，乙方有权宣布服务计划不成立。<br>
（5）本次服务计划内，如甲方追加服务计划金额，则在甲方与乙方之间存在多份服务计划协议书情况下，应以最后订立协议书所约定的内容为准。其中，每一份协议书均为对应甲方加入服务计划金额时甲乙双方的权利义务的约定。<br>
（7）本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。<br>
（8）本协议自签订之日起生效，一式二份，双方各执一份。<br>
（以下无正文内容）<br>
<br>
甲方：<br>
<br>
乙方：<br>
<br>
<br>
                                                         <span class="pull-right">签约时间【         】</span>
<br>
<br>
  </ion-content>
</ion-view>