<ion-view view-title="提现" class="whitesmoke-bg">
	<ion-content>
		<form ng-submit="submit()" name="withdrawForm">
			<ul class="list padding-top">
				<li class="item item-icon-left item-arrow-right">
					<i class="icon bank-icon" ng-class="card.shortName"></i>
					{{card.name}}
					<span class="item-note">
						尾号{{card.tailNo}}
					</span>
				</li>
			</ul>

			<ul class="list">
				<li class="item">
					可提现金额
					<span class="item-note">{{balanceAvailable | currency:''}}</span>
				</li>
			</ul>

			<ul class="list">
				<li class="item item-input">
					<span class="input-label">提现金额</span>
		    	<input type="text" ng-model="withdraw.amount" placeholder="0.00" clear-input required>
				</li>
			</ul>

			<div class="row">
				<div class="col">手续费 <span class="accent">{{withdraw.fee | currency:''}}</span></div>
				<div class="col">实际到账 <span class="accent">{{withdraw.result | currency:''}}</span></div>
			</div>
			<div class="padding">
				<button type="submit" class="button button-full" ng-disabled="withdrawForm.$invalid">提现</button>
			</div>
		</form>
	</ion-content>
</ion-view>