<ion-tabs class="tabs-icon-top tabs-light">

  <ion-tab title="当期热卖" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="往期回顾" icon-on="ion-ios-copy" icon-off="ion-ios-copy-outline" href="#/tab/history">
    <ion-nav-view name="history-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的房产" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/info" hidden="{{!isLogined}}">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="更多" icon-on="ion-ios-more" icon-off="ion-ios-more-outline" href="#/tab/more" hidden="{{!isLogined}}">
    <ion-nav-view name="more-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>