<ion-tabs class="tabs-icon-top tabs-light">

  <ion-tab title="大房东" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="往期回顾" icon-on="ion-ios-copy" icon-off="ion-ios-copy-outline" href="#/tab/history">
    <ion-nav-view name="history-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的房产" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" href="#/tab/info" hidden="{{!isLogined}}">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/setting" hidden="{{!isLogined}}">
    <ion-nav-view name="setting-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>